*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
   position: relative;
}
.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 10rem;
    margin-right: 10rem; 
}
.p{
    display: flex;
    flex-direction: column;
}
.email{
  width: 18rem;
  height: 2rem;
  border-radius: 5px;
}
.password{
    width: 18rem;
    height: 2rem;
    border-radius: 5px;
}
.btn{
    width: 18rem;
    height: 2rem;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
}
.img{
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20%;
    top: 10%;
}